<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TableoneMapper">
    
    <resultMap type="Tableone" id="TableoneResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="time"    column="time"    />
        <result property="content"    column="content"    />
        <result property="avatar"    column="avatar"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTableoneVo">
        select id, name, time, content, avatar, del_flag, create_by, create_time, update_by, update_time, remark from tableone
    </sql>

    <select id="selectTableoneList" parameterType="Tableone" resultMap="TableoneResult">
        <include refid="selectTableoneVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectTableoneById" parameterType="Long" resultMap="TableoneResult">
        <include refid="selectTableoneVo"/>
        where id = #{id}
    </select>

    <insert id="insertTableone" parameterType="Tableone" useGeneratedKeys="true" keyProperty="id">
        insert into tableone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="time != null">time,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="avatar != null">avatar,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="time != null">#{time},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTableone" parameterType="Tableone">
        update tableone
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="time != null">time = #{time},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTableoneById" parameterType="Long">
        delete from tableone where id = #{id}
    </delete>

    <delete id="deleteTableoneByIds" parameterType="String">
        delete from tableone where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>